
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
  margin: 0;
  padding: 0;
  background: black;
  color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  display: flex;
}
.header h4{
  color:silver;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-size: 25px;
  margin-left: 10%;
  font-style: normal;
  
  
}
.container{
padding: 20px 20px 20px 20px;
position: relative;

display: block;
}
#hero h1{
  margin-right: 15%;
}


.leftside {
width:300px;
  position: fixed; /* Make the left div fixed */
  overflow: auto; /* Enable scrolling if content exceeds the height */
  background-color: black; /* Add background color or styles as needed */
  padding: 20px; /* Add padding as needed */
  z-index: 101;
}

.rightside {
  flex-grow: 1; /* Allow the right div to grow and take the remaining space */
  overflow: auto; /* Enable scrolling if content exceeds the height */
  box-sizing: border-box;
  padding-left:350px;
}

/* Add additional styling as needed for header, card, pcontent, etc. */

/* Example styling for header */
.header {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;  
  align-items: center;
  margin-top:0px;
}

.card{
padding: 0px 0px 10px 15px;

}
.card img{
border-radius: 5%;
width:20vw;
height:40vh;

}
.pcontent{
text-align: center;
display: block;
}

h1{
font-size:24px;
font-weight:600;
  padding: 5px 5px 5px 0px;
}
h2{
font-size: 48px;
letter-spacing: -0.2px;
font-weight: 100;
margin-bottom: 50px;

}


.fullcard{
border-left: 1px solid #565353;
border-right: 1px solid #565353;
border-bottom: 1px solid #565353;
border-top: 1px solid #565353;

}


.icons{
height:25px;
width:25px;
}

ul{
list-style-type:none;
display:flex;
justify-content: space-evenly;
padding: 5px 5px 5px 5px;

}

ul li{
border-radius: 40%;
border: 2px solid #565353;
padding: 10px 10px 10px 10px;
}

li:hover{
border: 2px solid #28e98c;

}

.details{
PADDING: 0PX 10PX 0PX 10PX;
height: 800px;
}

.btn{
background-color: #28e98c;
padding: 0px 30px 0px 30px;

border-top-right-radius: 30px;
border-bottom-left-radius: 30px;



}

.btn:hover{
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px #28e98c, 0 0 20px #28e98c inset;
}



.hero h1,.fact h1{
font-size: 60px;
letter-spacing: -0.2px;
margin-bottom: 0px;
font-weight: 300;

}

.hero span{
color:#28e98c;
}

.title{
font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-top: 53px;
  display: inline-flex;
  align-items: center;

}

.title img{
width: 16px;
padding:0px 5px 5px 0px;
}

p{
color:#969494;
font-size: 20px;
font-weight: lighter;
margin-top: 2%;
margin-bottom: 4rem;
line-height: 30px;

}

.hero .project_btn{
width: 175px;
height: 175px;
display: flex;
align-items: center;
justify-content: center;

right: 60%;
border-radius: 50%;
border: 1px solid #575757;
position: relative;
overflow: hidden;

}

#project {
    /* padding: 20px 20px 20px 20px; */
    position: relative;
    display: block;
}
.project_btn img{
position: absolute;
}

.move_img {
position: absolute;
animation: rotateInPlace 5s linear infinite;
transform-origin: center center;
}

@keyframes rotateInPlace {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

.d-flex{
display: flex;

}

.fact{
gap: 100px;
margin-top:-80px;


}


.text-green{
color:#28e98c;
}




.resume .item{
position: relative;
padding-left: 74px;
padding-bottom: 68px;
border-left:1px solid #565353;



}

.circle{
content: '';
width: 12px;
height: 12px;
background: #656565;
border-radius: 50%;
margin-left: -80px;



}


.date{
gap: 20px;
}

.date:hover{
color:#28e98c;


}

.circle:hover{
background-color: #28e98c;
}

.resume .item h2, .service_card h2, .contact h2{
font-size: x-large;
margin-bottom: 2px;
margin-top: 42px;
}

.service{
text-align: left;
}

#service {
    padding: 20px 20px 20px 20px;
    position: relative;
    display: block;
}

.container_service .service_card{
border: 1px solid #565656;
border-radius: 20px;
transition: .3s;
position: relative;
padding: 30px 48px 41px 48px;
margin-bottom: 10px;
}

.service_card{
  width: 75%;
  
}

.service_card .d-flex{
justify-content: space-between;
  align-items: flex-end;
  
}

.service_card:hover , #skills .item:hover{
border: 1px solid #28e98c;
transition: background-color 0.3s ease, box-shadow 0.3s ease;

box-shadow: 0 0 10px #28e98c, 0 0 20px #28e98c inset;
}


#skills .d-flex{
gap:20px;
text-align: center;
justify-content: flex-start;

}
#skills {
    padding: 20px 20px 20px 20px;
    position: relative;
    display: block;
}

#skills .item{
border: 2px solid #565656;
  border-radius: 85px;
  padding:54px 0 48px 0;;
  margin-bottom: 20px;
  transition: 0.999ms;
}

#skills .item img{
margin: 0px 60px 25px 60px;
}

#skills .outer{
padding: 42px 0px 42px 0px;
}

#skills .item h2{
font-size: 40PX;
color: #28e98c;
margin: 0px;
}

.form-field{
padding:20px 10px 20px 10px; 
max-width: 600px;
}


input{
width: 300px !important;
height:20px;

}

input, textarea{
color: #fff;
width: 100%;
border: none;
background:none;
font-size: 18px;
padding: 0;
transition: .2s;
padding-top:10px;


} 

input:hover,textarea:hover{
border:1px solid #28e98c;
}

.contact label{
margin:2px 2px 2px 2px;  
}


/* .msg_div{
margin-left:10px;
} */
.msg_div textarea{
    width: 738px ;
  height: 70px;
}

textarea::placeholder-shown{
color:red;
}

.contact .btn{
align-items: center;
}
.contact{
display:inline-block;
position: relative; 
}



.vector-frame-icon {
width: 33.2px;
height: 41px;
position: absolute;
margin: 0 !important;
top: 0;
right: 62.6px;
object-fit: contain;
}
.button,
.icon {
position: relative;
}
.icon {
height: 16px;
width: 16px;
overflow: hidden;
flex-shrink: 0;
}
.button {
font-size: 14px;
font-weight: 500;
font-family: var(--font-sf-compact-rounded);
color: var(--shades-white);
text-align: left;
}
.cta,
.cta1 {
display: flex;
flex-direction: row;
}
.cta1 {
border-radius: var(--br-9xs);
background-color: var(--success-green-700);
align-items: flex-start;
justify-content: flex-start;
padding: 14px 10px var(--padding-smi) var(--padding-5xs);
gap: 3px;
}
.cta {
cursor: pointer;
border: 0;
padding: 0;
background-color: transparent;
align-items: center;
justify-content: center;
}
.menu {
position: relative;
font-weight: 500;
}
.c-t-a-component,
.frame-with-icon {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 var(--padding-smi);
}
.c-t-a-component {
flex-direction: column;
padding: 0 var(--padding-xl);
gap: 23px;
}
.icon1 {
width: 24px;
height: 24px;
position: relative;
overflow: hidden;
flex-shrink: 0;
color: white;  
}

.icon1 {
  transition: 0.3s ease;
}

.icon1:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px #28e98c, 0 0 20px #28e98c inset;
}
.msg_div textarea
{
  height: 83px;
  width: 250px;
  border: 1px solid white;
  padding-top: 10px;
}
.msg_div{
  padding: 10px;
  padding-top: 10px;

}
.icon-frame,
.nested-frame {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.icon-frame {
flex-direction: column;
gap: 19px;
}
.nested-frame {
height: 76px;
flex-direction: row;
padding: 0 var(--padding-xs) 0 0;
box-sizing: border-box;
}

.dashboard-frame {
height: 37px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 var(--padding-xs) 0 0;
box-sizing: border-box;
}

.dashboard,
.mini-side-bar,
.root-frame {
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.dashboard {
cursor: pointer;
border: 0;
padding: var(--padding-xs);
background-color: var(--neutral-100);
border-radius: var(--br-9xs);
align-items: center;
}
.mini-side-bar,
.root-frame {
align-items: flex-start;
padding: 0 36px 0 var(--padding-xl);
}
.mini-side-bar {
position: fixed;
width: 60px;
z-index: 101;
margin: 105px 0px 0px 820px;
flex-direction: column;
align-items: center;
padding: 40px 30px 40px 30px;
box-sizing: border-box;
border-radius: 34px;
border: 2px solid rgb(255, 255, 255);

}

@media(max-width:768px){
    .main{
        flex-direction: column;
        margin-left: 6%;
    }
    .leftside {
        position: relative;
        width: 85%;
    }
    .rightside {
        padding-left: 0px;
    }
    .header h4{
        color: whitesmoke;
        margin-left: 15%;
    }
    .details {
        height: 685px;
        
    }
    .card img {
        border-radius: 5%;
        width: 60vw;
        height: 46vh;
    }
    #hero h1{
        font-size: 45px;
        margin-bottom: 10%;
    }
    #service {
        padding: 0px 0px 0px 0px;
    }
    .d-flex{
        flex-direction: column;
    }
    .container_service .service_card {
        padding: 0px 0px 0px 15px;
    }
    .service_card {
        width: 91%;
    }
    #skills {
        padding: 1px 25px 0px 0px;
    }
    .exp{
        margin-left: 10%;
    }
    
}
.service_card .d-flex {
    align-items: flex-start;
}

    #hero p{
        font-size: 19px;
     /* padding-right: 15%; */
     
        
        margin-bottom: 50px;
text-align: justify;
    }
   
    .iframe-container iframe {
        width: 94%;
    }
    .text-green H1{
        margin-left: 33%;
    }
    .project_btn{
        margin-right: 40%;
    }
    .hero .project_btn{
        margin-left: 80%;
        
    }
    #about h2{
        font-size: 45px;
    margin-right: 10%;
    }
    #about p {
        font-size: 20px;
        margin-right: 10%;
        text-align: justify;
    }


.back_div {
    width: 0px;
}

.date {
    gap: 0px;
}

.d-flex{
    margin-top: 5%;
    gap: 40px;
}

@media (max-width:360px) {
    input, .msg_div  textarea{
      width:200px !important;
      
      
      }  
    .project_img, .back_div{
      width:280px;
    }
 
  }


.btn a{
    text-decoration: none;
}

/* iframe */
.iframe-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.iframe-container {
    flex: 1 1 100%;
    max-width: 504px;
    width: 100%;
}

.iframe-container iframe {
    width: 94%;
    height: 399px;
    border: none;
    border-radius: 10px;
}

/* Optional: improve spacing on small devices */
@media (max-width: 768px) {
    .container#project {
        padding: 20px;
        text-align: center;
    }

    .title {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}

.foot {
    color: grey;
    margin-top: 8%;
    font-size: 18px;
}

.my{
    padding-right: 15%;
}